.modifDivNickName, .modifDivFirstName, .modifDivLastName, .modifDivMail, .modifDivPassword{
    display: none;
}
/*------------------------
-------PENSE-BETE-------
------------------------
--COULEURS :
---vert du logo  :  #31d019 = rgb(49,208,25)*/

/*-------------------
------GENERAL--------
-------------------*/
body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: white;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1.2rem;
}
main {
    flex: 1 0 auto;
}
h1{
    color:rgb(49,208,25);
    font-size: 3rem;
}
h2{
    color:rgb(49,208,25);
    font-size: 2rem;
}
p{
    text-align: center;
    font-size: 1.2rem;
}
hr { 
    border: 0; 
    height: 0.15rem; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #31d019, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #31d019, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #31d019, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #31d019, #f0f0f0); 
    margin: 2vh;
}
#output{
    max-height: 150px;
}
/*boutons d envois ou de validations*/
.validateButton{
    color: black;
    background-color: white;
    font-size: 2.5vh;
}
.validateButton:hover{
    background-color: rgb(49,208,25);
}
.mention{
    color: rgb(49,208,25);
}
.mention:hover{
    color: rgba(49,208,25, 0.6);
}
/*SERIE DE CLASS POUR BALISES avec fond plus ou moins opaque et differences de border*/
.border{
    border: solid rgb(49,208,25) 0.3vh;
    margin-bottom: 2vh;
    background-color: rgba(49,208,25,5%);
}
.borderWork{
    margin: 3vh;
    border: solid rgb(49,208,25) 0.3vh;
    margin-bottom: 2vh;
    background-color: rgba(49,208,25,5%);
}
.borderArtist{
    border: solid rgba(49,208,25,50%) 0.5vh;
    margin: 3vh;
    background-color: rgba(49,208,25,15%);
}
.borderPreAlert{
    border: 0vh;
    margin-bottom: 1vh;
    background-color: rgba(49,208,25,16%);
    border-radius: 10px;
}
.borderPreAlert2{
    border: rgba(49,208,25) solid 0.3vh;
    margin-bottom: 1vh;
    background-color: rgba(49,208,25,22%);
    border-radius: 10px;
}
.borderPreAlert3{
    border: rgba(49,208,25) solid 0.6vh;
    margin-bottom: 1vh;
    background-color: rgba(49,208,25,33%);
    border-radius: 10px;
}

.imgArtWorkDiv{
    height: 55vh;
}
.imgArtWork{
    max-height: 55vh;
    padding: 2vh;
}
.imgProfileDiv{
    height: 44vh;
}
.imgProfile{
    max-height: 44vh;
    padding: 2vh;
}
/*------------------
--------NAVBAR------
-------------------*/
/*pour la marge en haut du nav-fixed*/
nav{
    height: 0vh;
}
/*couleur du text des titres de la nav*/
.nav-wrapper a{
    color: black;
}
/*fonds et border avec et sans hover*/
nav ul li a{
    font-size: 2.5vh;
    background: white;
    border-radius: 5px;
}
nav ul li a:hover {
    background: rgba(49,208,25,0.33);
    border-radius: 5px;
}
/*idem pour les dropdown*/
nav .dropdown-content li a{
    background: white;
    border-radius: 5px;
}
nav .dropdown-content li a:hover {
    background: rgba(49,208,25,0.33);
    border-radius: 5px;
}
/*taille et hover du logo*/
.navLogo{
    width: 10rem;
}
#navLogoLi:hover{
    background-color: white;
}
/*partie boutons de connexion et inscription*/
/*la div pour les boutons a droite*/
.connectButtons {
    background-color: white;
    height: 9.8vh;
    float: right;
}
/* -- le bouton connecter et "s'inscrire" */
.connect{
    margin: 1.6vh;
    width: 29.2vh;
    height: 5.7vh;
    color: black;
    background-color: white;
}
.connect:hover{
    background-color: rgb(49,208,25, 0.6);
}
.inscription{
    margin: 1.6vh;
    width: 29.2vh;
    height: 6vh;
    color: black;
    font-size: 2.5vh;
}
.inscription:hover{
    color: rgb(49,208,25);
}
/*-------------------
------FOOTER--------
-------------------*/
.page-footer{
    background-color: white;
}
/*-------------------
------ACCUEIL--------
-------------------*/
.accueilText{
    margin-bottom: 3vh;
}
.accueilCard{
    min-height: 55vh;
}
/*---------------------------------------------*/
/*A TRIER*/
.basic{
    min-height: 60vh;   
}

.material-icons{
    float: left;
}

/*.cardProfil{
    height: 40vh;
}*/
.content1{
    height: 45vh;
}

/*-----------------------------------------------*/

/*-------------------
------PERSONNALISATION DES INPUTS MATERIALIZE--------
-------------------*/
  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }